<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{% endif %}</title>{% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">{% endif %}{% if page.meta_keywords %}
    <meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}{% if site.author %}
    <meta name="author" content="{{ site.author }} {{ site.author_twitter }} | {{ site.author_url }}">{% endif %}
  </head>
  <body>
{{ content }}
  </body>
</html>